* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

img {
    display: flex;
    margin: -60px 450px;
}